$dark: #2a2b4b;
$dark2: #292a4b;
$white: #fff;
$all_tr: all .5s;
header#hamburger {
    // box-shadow: 0 0 20px #00000030;
    z-index: 999;
    left: 0;
    position: absolute;
    right: 0;
    padding: .5em 0;
    .logo {
        @media(max-width: 1200px) {
            img {
                width: 144px;
            }
        }
    }
    @media(max-width: 1200px) {
        padding: 2em 0;
    }
    .container {
        position: relative;
        @media(min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar {
            @media(min-width: 1200px) {
                display: flex !important;
            }
            @media(max-width: 1200px) {
                display: none;
                padding: 30px;
                position: absolute;
                left: 0;
                top: 56px;
                right: 0;
                background: #feed00;
                .main-btn.main-btn-yellow {
                    margin-top: 10px;
                    background: #000;
                    a {
                        color: #fff !important;
                        &:after {
                            filter: grayscale(1) invert(1)
                        }
                    }
                }
            }
        }
    }
    .navbar-nav {
        // justify-content: space-between;
        width: 100%;
        li {
            @media(min-width: 1200px) {
                display: flex;
                align-items: center;
                margin-left: 25px;
            }
            a {
                color: $white;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                @media(max-width: 1200px) {
                    color: #000;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .menu_basket a {
        padding: 0 3px;
        margin: 0;
    }
}