.post-120 {
    form.woocommerce-form.woocommerce-form-login.login {
        label {
            font-size: 15px;
            font-weight: 600;
            width: 100%;
            display: block;
        }
    }
    header.entry-header {
        display: none;
    }
    form.woocommerce-form.woocommerce-form-login.login .form-row input[type='text'],
    form.woocommerce-form.woocommerce-form-login.login .form-row input[type='password'] {
        border: 1px solid #000;
        border-radius: 0;
        min-height: 50px;
        width: 100%;
    }
    form.woocommerce-form.woocommerce-form-login.login .password-input {
        width: 100%;
    }
    // .entry-content {
    //     max-width: 700px !important;
    //     margin: 0 auto;
    // }
    .woocommerce-address-fields label {
        font-size: 15px !important;
        font-weight: 600 !important;
    }
    button.woocommerce-button.button.woocommerce-form-login__submit {
        background: #feed00;
        border: 0;
        border-radius: 0;
        color: #000;
        padding: 13px 30px;
        margin: 0 auto;
    }
    p.woocommerce-LostPassword.lost_password a {
        color: #fff;
        display: block;
        background: #000;
        max-width: 200px;
        text-align: center;
        padding: 10px;
        margin: 30px auto 0;
    }
}