.header-page {
    height: 340px;
    display: flex;
    align-items: center;
    padding-top: 80px;
    color: #fff;
    h1 {
        color: #fff;
        font-weight: 700;
        @media(min-width: 992px) {
            font-size: 60px;
            padding: 0 100px;
        }
    }
}