@charset "UTF-8";
.woocommerce div.product-type-simple h1.product_title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  margin: 50px 0;
  border: 0;
}

.woocommerce div.product-type-simple h2.tc-cell {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.woocommerce div.product-type-simple form.cart {
  width: 55%;
}

@media (max-width: 992px) {
  .woocommerce div.product-type-simple form.cart {
    width: 100%;
  }
}

.woocommerce div.product-type-simple label.tm-epo-element-label {
  width: 180px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .woocommerce div.product-type-simple label.tm-epo-element-label {
    width: 100%;
    font-size: 16px;
  }
}

.woocommerce div.product-type-simple .tm-extra-product-options .tmcp-textfield.tm-epo-field {
  min-height: 60px;
  border: 1px solid;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.woocommerce div.product-type-simple .tm-epo-field.tmcp-select {
  min-height: 60px;
  border: 1px solid;
  padding-left: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.woocommerce div.product-type-simple textarea.tm-epo-field {
  border-radius: 0;
  min-height: 60px;
  border: 1px solid;
  padding-left: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 15px;
}

.woocommerce div.product-type-simple .tm-extra-product-options-checkbox .tc-price-wrap {
  position: absolute;
  left: 0;
  top: -35px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.woocommerce div.product-type-simple .tc-chars {
  display: none;
}

.woocommerce div.product-type-simple .tm-extra-product-options-checkbox {
  margin-top: 50px;
  margin-bottom: 10px;
}

.woocommerce div.product-type-simple .tm-epo-field-label.cpf-upload-container {
  border: 1px solid;
  display: inline-block !important;
  font-size: 1em;
  height: auto;
  overflow: hidden;
  padding: 0.5em 1em;
  position: relative;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  cursor: pointer;
  width: calc(100% - 180px);
  height: 140px;
  border: 2px dashed;
  margin-left: 180px;
}

@media (max-width: 768px) {
  .woocommerce div.product-type-simple .tm-epo-field-label.cpf-upload-container {
    margin-left: 0;
    width: 100%;
  }
}

.woocommerce div.product-type-simple .tm-element-ul-upload .tmcp-field-wrap small {
  display: none;
}

.woocommerce div.product-type-simple .tm-element-ul-upload .tm-filename {
  width: calc(100% - 180px);
  margin-left: 180px;
}

.woocommerce div.product-type-simple .tc-totals-form dl.tm-extra-product-options-totals {
  margin-right: 0;
  background: rgba(254, 237, 0, 0.1);
  padding: 30px;
  margin-left: 180px;
  border: 2px dashed #FEED00;
  margin-top: 40px;
  position: relative;
}

@media (max-width: 992px) {
  .woocommerce div.product-type-simple .tc-totals-form dl.tm-extra-product-options-totals {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .woocommerce div.product-type-simple .tc-totals-form dl.tm-extra-product-options-totals {
    font-size: 12px;
  }
}

.woocommerce div.product-type-simple .tc-totals-form dl.tm-extra-product-options-totals .tm-final-totals .price.amount.final {
  position: absolute;
  right: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
}

@media (max-width: 640px) {
  .woocommerce div.product-type-simple .tc-totals-form dl.tm-extra-product-options-totals .tm-final-totals .price.amount.final {
    top: 26px;
    font-size: 25px;
  }
}

.woocommerce div.product-type-simple .productinfobox {
  position: absolute;
  top: 285px;
  left: 60%;
  border: 2px solid #feed00;
  width: 30%;
}

@media (max-width: 992px) {
  .woocommerce div.product-type-simple .productinfobox {
    width: 100%;
    top: unset;
    left: 0;
    position: relative;
    clear: both;
    margin-bottom: 60px;
  }
}

.woocommerce div.product-type-simple .productinfobox::after {
  content: "";
  width: 82.4px;
  height: 82.4px;
  background: url(/wp-content/themes/sterlink/inc/assets/images/box-why-dots.svg);
  position: absolute;
  background-size: cover;
  right: -26px;
  top: -24px;
}

.woocommerce div.product-type-simple .productinfobox--title {
  background: #FEED00;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #222222;
  padding: 22px 0 20px 25px;
}

.woocommerce div.product-type-simple .productinfobox--content ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.woocommerce div.product-type-simple .productinfobox--content ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #0B0B0B;
  opacity: 0.7;
  margin: 5px 0;
  position: relative;
}

.woocommerce div.product-type-simple .productinfobox--content ul li::before {
  position: absolute;
  content: "";
  z-index: 1;
  left: -16px;
  top: 11px;
  height: 6px;
  width: 6px;
  background: #feed00;
  border-radius: 50%;
}

.woocommerce div.product-type-simple .productinfobox.dla-firm-fix {
  top: 466px;
}

@media (max-width: 992px) {
  .woocommerce div.product-type-simple .productinfobox.dla-firm-fix {
    top: unset;
  }
}

.woocommerce div.product span.price {
  color: #0b0b0b;
}

.woocommerce div.product form.cart .button {
  vertical-align: middle;
  background-color: #000;
  border-radius: 0;
  float: right;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px 50px;
  max-width: 300px;
  color: #fff;
}

.woocommerce-Price-currencySymbol {
  margin-left: 10px;
}

.woocommerce-info {
  border-top-color: #1e85be;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #0B0B0B;
  border: none;
  background: transparent;
  padding-left: 3em;
  margin-bottom: 0;
}

.woocommerce-info a {
  color: green;
}

.woocommerce-info::before {
  color: #1e85be;
  content: url(http://sterlink.craftweb.pl/wp-content/uploads/2021/01/coupon-1.png);
  top: 1.2em;
  left: 16px;
}

.woocommerce-billing-fields h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #0B0B0B;
  margin-bottom: 40px;
}

.woocommerce form .form-row label {
  width: 180px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #0B0B0B;
  padding-top: 12px;
}

@media (max-width: 768px) {
  .woocommerce form .form-row label {
    width: 100%;
    font-size: 16px;
  }
}

.woocommerce form .form-row label abbr {
  display: none;
}

.woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper {
  width: calc(100% - 180px);
}

@media (max-width: 768px) {
  .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper {
    width: 100% !important;
  }
}

.woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper input.input-text,
.woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper textarea {
  min-height: 60px;
  border: 1px solid;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 0;
}

#billing_country_field {
  display: none;
}

#customer_details {
  width: 55%;
}

@media (max-width: 992px) {
  #customer_details {
    width: 100%;
  }
}

.woocommerce .checkout.woocommerce-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce .checkout.woocommerce-checkout #order_review_heading {
  display: none;
}

.woocommerce .checkout.woocommerce-checkout #order_review--wrapper {
  width: 44%;
  display: inline-block;
}

@media (max-width: 992px) {
  .woocommerce .checkout.woocommerce-checkout #order_review--wrapper {
    width: 100%;
  }
}

.woocommerce .checkout.woocommerce-checkout #order_review--wrapper #order_review h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #0B0B0B;
  margin-bottom: 40px;
}

.woocommerce .checkout.woocommerce-checkout #order_review--wrapper h3#order_reviewh3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #0B0B0B;
  margin-bottom: 40px;
}

.woocommerce-checkout-review-order {
  background: rgba(254, 237, 0, 0.1);
  border: 2px dashed #feed00;
  padding: 20px;
}

.woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table {
  border: none;
}

.woocommerce table.shop_table td {
  border: none;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border: none;
}

td.product-name a.tm-cart-edit-options,
.tm-cart-edit-options {
  display: none;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
}

#order_review .order-total th {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}

#order_review .order-total td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#order_review .order-total .woocommerce-Price-amount.amount {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #0B0B0B;
}

.shop_table.woocommerce-checkout-review-order-table .product-total {
  text-align: right;
}

.shop_table.woocommerce-checkout-review-order-table .cart-subtotal td,
.shop_table.woocommerce-checkout-review-order-table .fee td {
  text-align: right;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: #fffde5;
  border-radius: 0px;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-size: 0.92em;
  border-radius: 2px;
  line-height: 1.5;
  background-color: #feed00;
  color: #0b0b0b;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  content: "";
  display: block;
  border: 1em solid #feed00;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -0.75em;
  left: 0;
  margin: -1em 0 0 2em;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  width: 100%;
  background-color: #feed00;
  padding: 30px 10px;
  color: #0b0b0b;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #0b0b0b;
  color: #feed00;
}

.woocommerce-order {
  margin-top: 80px;
  background: rgba(254, 237, 0, 0.1);
  padding: 20px;
  border: 2px dashed #feed00;
}

.woocommerce table.shop_table {
  border: 1px solid;
  border-radius: 0 !important;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}

.woocommerce .woocommerce-customer-details address {
  font-style: normal;
  margin-bottom: 0;
  border: 1px solid;
  border-radius: 0 !important;
  border-bottom-width: 2px;
  border-right-width: 2px;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  padding: 6px 12px;
}

.product-switcher {
  background: #fff;
  padding: 0px 30px;
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid #0B0B0B;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 40px;
}

.product-switcher h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}

.product-switcher p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0B0B0B;
  opacity: 0.7;
  padding-right: 10px;
}

.product-switcher a {
  text-decoration: none;
}

.product-switcher.active {
  background: #feed00;
  padding: 0px 30px;
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid #feed00;
  margin-bottom: 40px;
}

.product-switcher.active h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}

.product-switcher.active p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0B0B0B;
  opacity: 0.7;
  padding-right: 10px;
}

.product-switcher.active a {
  text-decoration: none;
}

.product-switcher:hover {
  background: #feed00;
  padding: 0px 30px;
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid #feed00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 40px;
}

.product-switcher:hover h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}

.product-switcher:hover p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0B0B0B;
  opacity: 0.7;
  padding-right: 10px;
}

.product-switcher:hover a {
  text-decoration: none;
}

.summary.entry-summary a,
#product-160 a {
  text-decoration: none;
}

.woocommerce-checkout input#account_username,
.woocommerce-checkout input#account_password {
  min-height: 60px;
  border: 1px solid;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 0;
  /* width: 100%; */
}

.woocommerce-checkout span.woocommerce-input-wrapper {
  width: calc(100% - 180px);
}

@media (max-width: 768px) {
  .woocommerce-checkout span.woocommerce-input-wrapper {
    width: 100% !important;
  }
}

.woocommerce-checkout .woocommerce-account-fields {
  margin-top: 50px;
}

.woocommerce-checkout .create-account .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-checkout .show-password-input {
  top: 20px !important;
}

.produkty-pakiety .produkty-pakiety__switcher {
  text-align: center;
  padding: 80px 0 80px;
}

.produkty-pakiety .produkty-pakiety__switcher a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0B0B0B;
}

.produkty-pakiety .produkty-pakiety__switcher a.active {
  color: #feed00;
}

.produkty-pakiety .produkty-pakiety__switcher span {
  font-weight: 700;
  position: relative;
  top: -2px;
  padding: 0 8px;
}

.produkty-pakiety .single:hover .produkty-pakiety__item {
  background: #000;
  color: #fff;
}

.produkty-pakiety .single:hover .produkty-pakiety__item .produkty-pakiety__item--price {
  color: #fff;
}

.produkty-pakiety .single:hover .produkty-pakiety__link a {
  background: #feed00;
  border-color: #feed00;
}

.produkty-pakiety__list {
  padding: 30px 0;
}

.produkty-pakiety__list ul {
  padding: 0 60px;
}

.produkty-pakiety__list ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9E9E9E;
  position: relative;
  margin-bottom: 9px;
}

.produkty-pakiety__list ul li.active {
  color: #0b0b09;
}

.produkty-pakiety__list ul li.active:before {
  color: #FEED00;
}

.produkty-pakiety__list ul li:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  color: #9E9E9E;
  position: absolute;
  top: 0;
  left: -24px;
  font-size: 12px;
}

.produkty-pakiety__link a {
  width: 190px;
  height: 49px;
  text-transform: uppercase;
  color: #000;
  border: 3px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  margin: 0 auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.produkty-pakiety__item {
  border: 3px solid #feed00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.produkty-pakiety__item .produkty-pakiety__item--price,
.produkty-pakiety__item .produkty-pakiety__item--opis {
  text-align: center;
}

.produkty-pakiety__item .produkty-pakiety__item--price p,
.produkty-pakiety__item .produkty-pakiety__item--opis p {
  margin: 0;
}

.produkty-pakiety__item .produkty-pakiety__item--price span {
  font-size: 50px;
  font-weight: 700;
}

.produkty-pakiety__item .produkty-pakiety__item--price {
  padding: 40px;
  color: #0b0b09;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.produkty-pakiety__item .produkty-pakiety__item--opis {
  padding: 0 40px 40px 40px;
}

.produkty-pakiety__item .produkty-pakiety__item--title {
  background: #feed00;
  text-align: center;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produkty-pakiety__item .produkty-pakiety__item--title h4 {
  font-size: 23px;
  line-height: 75px;
  color: #0B0B0B;
  font-weight: 700;
}

@media (max-width: 768px) {
  .produkty-pakiety__item .produkty-pakiety__item--title h4 {
    font-size: 17px;
  }
}
/*# sourceMappingURL=product.css.map */