.work-section {
    position: relative;
    padding: 0 0 75px 0;
    @media(max-width: 768px) {
        margin-top: 70px;
        .title-section {
            margin-bottom: 30px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 265px;
        background: #F7F6F1;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .container-box {
        .single {
            &:nth-child(2),
            &:nth-child(4) {
                @media(min-width: 992px) {
                    margin-top: 83px;
                }
            }
            .single-content {
                min-height: 237px;
                border: 2px solid #F2F2F2;
                background: #fff;
                padding: 35px;
                transition: all 0.4s;
                position: relative;
                .number {
                    font-weight: bold;
                    font-size: 70px;
                    line-height: 38px;
                    color: #222;
                    position: relative;
                    @media(max-width: 992px) {
                        font-size: 40px;
                    }
                    &:after {
                        content: '';
                        width: 57px;
                        height: 3px;
                        background: #FEED00;
                        display: block;
                        margin: 29px 0 15px;
                        @media(max-width: 992px) {
                            margin: 17px 0 8px;
                        }
                    }
                }
                .desc {
                    font-size: 20px;
                    line-height: 38px;
                    font-weight: 700;
                    color: #000;
                    opacity: 0.7;
                }
            }
        }
    }
}